@font-face {
  font-family: "iconfont"; /* Project id 3612056 */
  /* Color fonts */
  src: 
       url('//at.alicdn.com/t/c/font_3612056_v5xkwntdg2.woff2?t=1678266598121') format('woff2'),
       url('//at.alicdn.com/t/c/font_3612056_v5xkwntdg2.woff?t=1678266598121') format('woff'),
       url('//at.alicdn.com/t/c/font_3612056_v5xkwntdg2.ttf?t=1678266598121') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-biaoqian1:before {
  content: "\e63d";
}

.icon-fenlei:before {
  content: "\e62f";
}

.icon-dangan:before {
  content: "\100fe";
}

.icon-shouye:before {
  content: "\e631";
}

.icon-fangwu:before {
  content: "\e603";
}

.icon-shijian:before {
  content: "\e66c";
}

.icon-biaoqian:before {
  content: "\e635";
}

.icon-wenjianjia:before {
  content: "\e6b1";
}

.icon-shuben:before {
  content: "\e7a2";
}

.icon-icon:before {
  content: "\e694";
}

.icon-tupian1:before {
  content: "\e67f";
}

.icon-tupian:before {
  content: "\e645";
}

.icon-bilibili-fill:before {
  content: "\e66b";
}

.icon-icon_bilibili:before {
  content: "\e601";
}

.icon-bilibili-line:before {
  content: "\e66d";
}

.icon-yun:before {
  content: "\eb2c";
}

.icon-yun1:before {
  content: "\e60b";
}

.icon-kafei:before {
  content: "\e660";
}

.icon-xinxi:before {
  content: "\e641";
}

.icon-home:before {
  content: "\e699";
}

.icon-folder:before {
  content: "\e650";
}

.icon-tags:before {
  content: "\e685";
}

.icon-aixin:before {
  content: "\e602";
}

.icon-qq:before {
  content: "\e600";
}

.icon-QQ1:before {
  content: "\e667";
}

.icon-shijianzhou:before {
  content: "\e61b";
}

.icon-QQ:before {
  content: "\e65e";
}

.icon-email:before {
  content: "\e6eb";
}

.icon-github:before {
  content: "\ea0b";
}

.icon-bilibili:before {
  content: "\e609";
}
